*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Avenir Next Condensed', Arial, sans-serif;
    font-weight: bold;
    font-style: normal;;
}

.container{
    max-width: 50%;
    margin: 50px 100px;
    background-color: #ffffff;
    overflow: visible;
    
}

.header{

 background-color: #FB8E61;
 color: white;
 padding: 40px;
 position: relative;
 text-align: center;
 border-radius: 40px;
 box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);

}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    align-items: center; 
}
.image-container{
    max-width: 100px;
    height: auto;
    position: relative;
    text-align: center;
}

.image-container-1{
    max-width: 300px;
    height: auto;
    position: relative;
    text-align: center;
}

.image-container-2{
    max-width: 100px;
    height: auto;
    position: relative;
    text-align: center;
}

.image-container{
    display: grid;
    grid-template-rows: 10px 30px;
    grid-template: max-content;
    max-width: 100%;  
    height: auto; 
    margin-bottom: 50px;
    margin-top: 50px;

}

img{
  width: 100%; 
  height:auto; 
  object-fit: cover;
  object-position: 10%
}

.download-box{
    background-color: #FB8E61;
    color: white;
    text-align: center;
    padding: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
    border-radius: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
    
}

/*
.image-container{
    display: grid;               #Grid-Layout
    grid-template-rows:100px 300px ;
    grid-template: 0;
    gap: 0px;                     #Abstand zwischen den Bildern 
    max-width: 100%;              #Maximale Breite für den Container 
    margin-bottom: 50px;
    margin-top: 50px;
}
*/

.orange-box {
    background-color: #FB8E61;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
}

.orange-box2 {
    background-color:#FB8E61;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.info-box h2 {
    color: white;
    padding: 20px;
}
     
.info-box p {
   color: white;
    line-height: 1.5;  
}


body{
    margin: 0px;
}