.Kontakt{
    color: black;
}

body{
    margin: 0px;
}

.Kontakt input[type="text"],.Kontakt input[type="email"], .Kontakt input[type="tel"] {
    background-color: lightgrey;
    border-radius: 40px;
}

.Kontakt input[type="tel"] {
    margin-bottom: 10px;
}

.Kontakt textarea {
    background-color: lightgrey;
    border-radius: 40px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
}

.Kontakt textarea {
    height: 100px;
}

input, textarea {
    color: black; /* Falls Eingabetext schwarz sein soll */
    background-color: white; /* Eingabefelder abheben */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

.submit-box {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    background-color: #84B3CC;
    color: white;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-box:hover {
    background-color: #7AC7B5;
}

.container {
    max-width: 600px;
    width: 90%;
    margin: 2rem auto;
    background-color: #FB8E61;
    padding: 2rem;
    padding-bottom: 60px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Zentriert den Text innerhalb der Box */
}

input {
    color: black; /* Falls Eingabetext schwarz sein soll */
    background-color: white; /* Eingabefelder abheben */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

h1 {
    text-align: center; /* Zentriert den Text */
    margin: 20px 0; /* Optional: Abstand ober- und unterhalb */
}