*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Avenir Next Condensed', Arial, sans-serif;
    font-weight: bold;
    font-style: normal;;
}

.container{
    max-width: 100%;
    margin: o auto;
    background-color: #ffffff;
    overflow: visible;
    
}

.header{

 background-color: #FB8E61;
 color: white;
 padding: 20px;
 position: relative;
 text-align: left;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;
 box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

}

h1{
}

 
.Download-box{
    margin:50px auto;
    padding: 20px;
    display: flex;
    align-items: center;   
    justify-content: space-between; 
    max-width: 800px;
    
}
  
.Download-box-text{
    background-color: #84b3cc;
    color: white;
    max-width: flex;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.image-section {
    display:grid;
    justify-content: center;
}

.image-section img {
    margin-top: 10%; 
    margin-bottom: 0%;
    max-width: 400px; 
    object-fit: contain;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column; 
    }

    .text-container {
        max-width: 200%;      
        margin-left: 0;
        margin-top: 20px;     
    }
.info-box {
    padding: 20px;
    margin: 70px 0px;
    color: white;
}
}

.orange-box {
    background-color: #FB8E61;
    margin-top: 40px;
    margin-right: 40%;
    margin-bottom: 10%;
    padding: 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.orange-box2 {
    background-color:#FB8E61;
    margin-top: 10%;
    margin-left: 20%;
    margin-bottom: 40%;
    padding: 20px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

.info-box h2 {
    color: white;
    
}
     
.info-box p {
   color: white;
    line-height: 1.5;
}
@media (max-width: 480px) {
    .header {
        padding: 15px;
    }

    h1 {
        font-size: 18px;
    }

    .Download-box-text {
        padding: 10px;
        font-size: 14px;  /* Kleinere Schrift für kleinere Bildschirme */
    }

    .image-section img {
        max-width: 90%;   /* Kleinere Bilder für schmale Displays */
    }
}

body{
    margin: 0px;
}
    
/*.Über_uns
.Kontakt
.Leitmotto
.Good_to_know
.main
    border:1px; 
    bo
p{
    border: 5px;
    border-color: blue;
}*/
