.options {
    background-color: #FFA07A;
    padding: 20px;
    text-align: left;
}

.option {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.Person1{
    width: ;
    height: ;
    background-color: ;
    border-radius: ;
    margin-right: ;
}

.Person2{
    width: ;
    height: ;
    background-color: ;
    border-radius: ;

}



.abstimmungen{
    background-color:green
    color:white;
    border: 10px; 
    border: 5px;
    margin-bottom: px;
}
.über_uns{
    background-color:green
    color:white; 
}
.kontakt{

}

.buttons{
    
    margin: 70px;
    border-radius: ;
    border-top-left-radius: 
    border-bottom-left-radius: 

    
    }

body{
    margin: 0px;
}
    
/*.Über_uns
.Kontakt
.Leitmotto
.Good_to_know
.main
    border:1px; 
    bo
p{
    border: 5px;
    border-color: blue;
}*/
