@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('path-to-font-file.woff2') format('woff2'),
         url('path-to-font-file.woff') format('woff');
}

.logo {
    position: absolute; /* Ermöglicht genaue Positionierung */
    top: 10px; /* Abstand vom oberen Rand */
    left: 10px; /* Abstand vom linken Rand */
    height: 100px; /* Größe des Logos */
}
body {
    font-family: 'Avenir Next Condensed', Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
    
}

nav {
    background-color: #FB8E61;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;

}

.burger {
    font-size: 60px;
    cursor: default;
    margin-left: auto
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none; /* Hidden by default */
    flex-direction:column;
    background-color: #FB8E61;
    position:absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    border-radius: 40px;    
}

.menu li {
    padding: 25px;
    text-align: center;
    
}

.menu li a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 19px;
    cursor: default;
}

.menu li:hover {
    background-color: #A3766A;
    border-radius: 50px;
}

.menu.show {
    display: flex; 
}

footer {
    background-color: #A3766A;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    color: white; /* Textfarbe */
    text-align: center; /* Zentriert Text und Inhalte */
    padding: 130px; /* Innenabstand */
    position: fixed; /* Fixiert den Footer unten */
    bottom: 0;
    left: 0;
    width: 100%; /* Sorgt dafür, dass der Footer die gesamte Breite einnimmt */
    display: flex; /* Ermöglicht flexibles Layout */
    justify-content: center; /* Zentriert horizontal */
    align-items: center; /* Zentriert vertikal */
}

.Logofarbig {
    height: 80px; /* Größe des Logos */
}

.Figur-4 {
    height: 80px; /* Größe des Logos */
}