.options {
    background-color: #FFA07A;
    padding: 50px;
    border-radius: 5%;
    text-align: left;
}

.option {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.Person1{
    width: 40px;          /* Größe der Bilder */
    height: 40px;
    border-radius: 50%;  /* Macht das Bild rund */
    object-fit: cover;   /* Sorgt dafür, dass das Bild den Kreis ausfüllt */
    margin-right: 10px;
}
.special-option .Person2 .Foto2 {
    margin-top: 5px
}

.Person2.jpeg{
    width: 40px;          /* Größe der Bilder */
    height: 40px;
    border-radius: 50%;  /* Macht das Bild rund */
    object-fit: cover;   /* Sorgt dafür, dass das Bild den Kreis ausfüllt */
    margin-right: 100px;  /* Abstand zum Text */
}

.Person3{
    width: 40px;          
    height: 40px;
    border-radius: 50%;  
    object-fit: cover;  
    margin-right: 10px  
}
.option p {
    margin: 0;
    font-size: 14px;
    color: #ffffff;
}

.buttons {
    margin: 20px 0;
}

.button {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
}
.button.orange {
    background-color: #FFA07A;
}

.button.blue {
    background-color: #87CEFA;
}

.button.green {
    background-color: #90EE90;
}

.info-box {
    padding: 20px;
}

.info {
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
    color: #ffffff;
}

.orange-box {
    background-color: #FFA07A;
}

.buttons{
    
    margin: 70px;
    border-radius: ;
    border-top-left-radius: 
    border-bottom-left-radius: 

    
    }

body{
    margin: 0px;
}
    
/*.Über_uns
.Kontakt
.Leitmotto
.Good_to_know
.main
    border:1px; 
    bo
p{
    border: 5px;
    border-color: blue;
}*/
